<% @product.variants.each do |c| %>
    <div class="col-sms-6 col-sm-6 col-md-6">
      <article class="box cabin">
        <div class="details">
          <div class="row">
            <div class="col-md-6">
              <h4 class="box-title"><%= c.option_values.first.presentation %>
              </h4>
            </div>
               <% hash = display_travel_price(c) %>
            <% if !hash.empty? %>
              <div class="col-md-4 price"><%= t(:from) %>
                <span>$<%= hash.first[:price] %></span>
              </div>
              <div class="action-section">
                <%= render :partial => 'spree/products/product_type_cart_form', :locals => { product: product, variant_id: c.id, rate_id: hash.first[:rate], mini: true} %>
              </div>
            <% else %>
              <div class="col-md-4 price">
              <span><%= t(:no_price) %> </span>
            </div>
            <% end %>
          </div>
        </div>
      </article>
    </div>
<% end %>
